<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Graphmatic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <Graphmatic.Properties.Settings>
            <setting name="DefaultPageColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Anonymous</value>
            </setting>
            <setting name="DefaultVariable2" serializeAs="String">
                <value>y</value>
            </setting>
            <setting name="DefaultVariable1" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="DefaultDataSetVariables" serializeAs="Xml">
                <value>
                    <ArrayOfChar xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <char>120</char>
                        <char>121</char>
                    </ArrayOfChar>
                </value>
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BackupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>%APPDATA%/Graphmatic/Backup</value>
            </setting>
            <setting name="RestoreLastResource" serializeAs="String">
                <value>False</value>
            </setting>
        </Graphmatic.Properties.Settings>
    </userSettings>
</configuration>
